#chartdiv {
  width: 100%;
  height: 400px;
  background-color: white;
}
.amcharts-pie-slice {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-duration: 0.3s;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  cursor: pointer;
  box-shadow: 0 0 30px 0 #000;
}

.amcharts-pie-slice:hover {
  transform: scale(1.1);
  filter: url(#shadow);
}
.dboard-title{
	display: flex;
	align-items: center;
	padding: 10px 20px;
	margin-bottom: 2px;
	background-color: white;
}
.dboard-title i {
	color: #29ace2;
}
.dboard-title span {
	margin-left: 10px;
}
.sheet-chart {
	position: relative;
	margin-bottom: 0;

	.viewtype,
	.sub-viewtype {		
		position: absolute;
		top: 10px;
		left: 30px;
		width: 120px;
		z-index: 11;
		color: #78909c;
	}
	.sub-viewtype {
		left: 200px;
		width: 140px;
	}
	.viewtype input.select-dropdown,
	.sub-viewtype input.select-dropdown{
		text-indent: 10px;
		border-color: #78909c;
	}
	.viewtype .caret,
	.sub-viewtype .caret {
		color: #78909c;
	}
}
.modified.task-table.sheet-table {
	td {
		padding: 20px 40px;
		background-color: white;
	}
	.task td:first-child {
		width: unset;
	}
	.task .name {
		font-size: 15px;
		color: #000000;
	}
}