#orgchart {
	border: 1px solid #78909c;
	text-align: center;
}
#orgchart .orgchart {
	background: #ececec;
}
#orgchart .orgchart .node {
	width: 170px;
}
#orgchart .orgchart .node .title {
	background-color: #29ace2;
	height: 30px;
	line-height: 30px;
}
#orgchart .orgchart .node .title .symbol {
	margin-top: 9px;
}
#orgchart .orgchart .lines .topLine,
#orgchart .orgchart .lines .leftLine,
#orgchart .orgchart .lines .rightLine,
#orgchart .orgchart .node .content {
	border-color: #78909c;
}
#orgchart .orgchart .lines .downLine {
	background-color: #78909c;
}
#orgchart .orgchart .node .content {
    color: #000000;
    height: 25px;
    line-height: 25px;
}
#orgchart .orgchart .node:hover,
#orgchart .orgchart .node.focused {
    background-color: rgba(41, 172, 226, 0.5);
    border-radius: 5px;
}
#orgchart .orgchart .node .edge {
	color: #000000;
}