.login-page {
    height: 100%; 
    background-image: url("/img/northpole-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;

    login-form {
    	position: fixed;
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	    width: 375px;
    }

    center img {
    	width: 120px;
    }

    .login-fields {
    	margin-top: 25px;
    	padding: 30px 30px;
    	background-color: $white;
    }

    .login-fields input,
    .login-fields label {
        text-indent: 10px;
    }

    .btn {
    	background-color: $primary-color;
    }

    center.input-field {
    	margin-top: 2rem;
    }
}