/* Index */
.searchIcon {
    width:20px;
    margin-left:10px;
    transform: scale(-1,1);
}
.infos {
    float:left;
    margin-left:10px;
    padding: 20px 0;
    .name {
        font-size: 1.2em;
        color: black;
    }
}
.part-1 {
    width: 100%;
}
.part-2 {
    display: none;
    width: 0;
}
#addNew h4, #addNew label {
    color: #7a7a7a;
}
/* View */
.daily-tasks .progress {
    height: 5px;
}
.task-table {
    .indicator {
        display: inline-block;
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
    .indicator.late {
        border: 2px solid red;
    }
    .indicator.pending {
        border: 2px solid #78909c;
    }
    .indicator.done {
        background-color: green;
        color: white;
    }
    .indicator.done i {
    padding: 3px;
        font-weight: bold;
    }
    .task td:first-child {
        width: 100px;
    }
    .task .status {
        color: red;
        display: block;
    }
    .task .date{
        color: rgba(0, 0, 0, 0.6);
        font-size: 0.8rem;
    }
}
.modified.task-table {
    td {
        padding: 15px 5px;
        font-size: 14px;
    }
    .task .status {
        color: rgba(0, 0, 0, 0.6);
    }
    .task .name {
        color: #000000;
        display: block;
    }
    .task .sched {
        font-size: 13px;
    }
}

/* User Info */
#infos {
    & > .col {
        position: relative;
    }
    #editImage {
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 0 10px;
        border-radius: 50%;
    }
    #editImage img {
        width: 20px;
        margin: -4px auto;
    }
    #addGroup {
        position: absolute;
        right: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    #addGroup i {
        margin: 9px -4px;
        padding: 0;
        color: #78909c;
    }
    .groupings {
        height: 100px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
}