/*Dragula css*/
.gu-mirror {position:fixed!important;margin:0!important;z-index:9999!important;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80)}
.gu-hide{display:none!important}
.gu-unselectable{-webkit-user-select:none!important;-moz-user-select:none!important;-ms-user-select:none!important;user-select:none!important}
.gu-transit{opacity:.2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";filter:alpha(opacity=20)}

.leg-view {
	height: 100vh;
	background-color: grey;
	margin: 0;
}
/*Leg content*/
.sidebar,
#leg-main-content {
	height: 100%;
	overflow-y: auto;
}
.sidebar {
	background-color: #0c3343;
	padding: 30px 0 !important;
}
.btn-back {
	margin-left: 40px;
}
.btn-back i,
.btn-back span {
	display: inline-block;
	vertical-align: middle;
	color: #78909c;
}
.navtabs {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0 !important;
}
.navtabs .tabs {
	background-color: transparent;
	border-bottom: 2px solid #78909c;
	overflow-x: hidden;
}
.navtabs .tabs a {
	color: #78909c;
	font-weight: bold;
}
.navtabs .tabs .tab a:hover,
.navtabs .tabs .tab a.active {
	color: white;
}
/*Leg Settings**********************************************************/
#leg-setting label{
	margin-left: 15px;
	font-weight: bold
}
#leg-setting input,
#leg-setting textarea {
	margin-top: 10px;
	text-indent: 15px;
	border: 1px solid #78909c;
	color: white;
}
#leg-setting input {
	height: 35px;
}
#leg-setting textarea {
	padding-left: 15px;
	min-height: 100px;
}
#leg-setting .choices-container input {
	margin-bottom: 5px;
}
#leg-setting .choices-container input + input {
	margin-top: 0;
}
#leg-setting .choices-container .new-choices {
	cursor: pointer;
}
#leg-setting .date-container .caret,
#leg-setting .input-type-container .caret,
#leg-setting .time-container .caret,
#leg-setting .upload-type-container .caret {
	right: 10px;
	color: white;
}
/*Leg Main Content*******************************************************/
#leg-main-content {
	background-color: white;
	margin: 0;
}
#leg-main-content > .row {
	margin-top: 15px;
	margin-bottom: 15px;
}
.leg-content-inner {
	border-top:1px solid #7a7a7a;
	padding-top: 10px !important;
	padding-bottom: 100px;
}
.leg-title h4 {
	margin-bottom: 0;
}
.leg-title p {
	margin: 0;
	color: #7a7a7a;
}
.leg-preview,
.leg-save {
	padding: 0 15px !important;
	display: flex !important;
	justify-content: space-around;
}
.leg-preview {
	color: #7a7a7a !important;
}
.leg-preview img {
	width: 20px;
}
.leg {
	padding: 0px 10px 0px 10px;
	margin-bottom: 0;
	color: #7a7a7a;
	border: 3px dashed rgba(122, 122, 122, 0.5);
	cursor: grab;
}
.leg + .leg {
	margin-top: 0;
}
.leg .card-content.row {
	margin-bottom: 0 !important;
	padding: 30px 40px 45px 30px;
}
.empty-leg-field,
.loading-leg-field {
	padding: 50px 0;
	background-color: transparent;
	pointer-events: none;
}
.empty-leg-field,
.loading-leg-field h6 {
	font-size: 1.25em;
}
.empty-leg-field p {
	margin: 0;
	font-size: .75em;
}
.leg-field-selected {
	border-style: solid;
	border-color: #29ace2;
}
#leg-fields,
#leg-setting {
	padding: 0 40px;
}
.field-leg-source * {
	pointer-events: none;
}
.field-leg-source {
	display: flex;
	justify-content: flex-start;
	padding: 5px 10px;
	border: 1px solid white;
	color: white;
	background-color: #0c3343;
	margin-bottom: 10px;
	cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.field-leg-source i {
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin: 0 20px;
}
.leg-field-delete {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 5px 5px 0px 5px;
	border-radius: 10px;
	background-color: #dedede;
	cursor: pointer;
}
.leg-field-delete img {
	width: 20px;
}
.leg-field-checkbox,
.leg-field-date,
.leg-field-select,
.leg-field-multiline,
.leg-field-notes,
.leg-field-number,
.leg-field-radio,
.leg-field-signature,
.leg-field-singleline,
.leg-field-time,
.leg-field-upload {
	color: #000000;
	pointer-events: none;
}
.leg-field-checkbox h6,
.leg-field-date h6,
.leg-field-select h6,
.leg-field-multiline h6,
.leg-field-notes h6,
.leg-field-number h6,
.leg-field-radio h6,
.leg-field-signature h6,
.leg-field-singleline h6,
.leg-field-time h6 {
	margin-bottom: 20px
}
.leg-field-date .datepicker,
.leg-field-number .numpicker,
.leg-field-time .timepicker {
	border: 1px solid #78909c;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 0;
	color: #78909c;
}
.leg-field-date .datepicker .push-l4,
.leg-field-time .timepicker .push-l7 {
	color: black;
	text-align: right;
}
.leg-field-number span {
	text-align: left;
	text-indent: 15px;
}
/*.leg-field-select .select-wrapper, .leg-field-select .select-wrapper * {
	pointer-events: all;
}*/
.leg-field-select .select-wrapper input.select-dropdown,
.leg-field-multiline textarea,
.leg-field-signature textarea,
.leg-field-singleline input {
	border: 1px solid #9e9e9e !important;
}
.leg-field-select .select-wrapper span.caret {
	right: 20px;
}
.leg-field-multiline textarea,
.leg-field-notes,
.leg-field-signature textarea,
.leg-field-singleline input {
	margin-bottom: 0 !important;
	text-indent: 5px;
}
.leg-field-radio label {
	color: #000000;
}
.leg-field-signature textarea {
	min-height: 150px;
	text-indent: 10px;
}
.leg-field-singleline input {
	text-indent: 10px;
}
.leg-field-time .timepicker {
	word-spacing: 15px;
	text-align: left;
	text-indent: 20px;
}
.leg-field-upload .uploader {
	width: 100%;
	min-height: 300px;
	margin-top: 20px;
	background-color: #dadbdd;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	text-align: center;
}
.leg-field-upload .uploader div {
	width: 100px
}
.leg-field-upload .uploader img {
	margin-bottom: 10px;
}
.save-container {
	margin-top: 50px;
}