.main-nav {
	.brand-logo.left {
	    display: flex;
	    align-items: center;
	    height: 100%;
	}
	.brand-logo img {
	    width: 200px;
	}
	.mobile-nav i {
		margin-left: 0;
	}
	.mobile-nav img {
		height: 30px;
		vertical-align: middle;
	}
	.nav-content {
	    width: 100%;
	    background-color: white;
	}
	.tabs {
	    height: 60px;
	    align-items: center;
	}
	.tabs img {
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 5px;
	}
	.tabs .indicator {
		height: 3px;
	}
	.tabs .tab a,
	.tabs .tab a:hover,
	.tabs .tab a.active {
		color: #7a7a7a;
		font-weight: 500;
	}
	.dropdown-button {
		padding-right: 0px;
	}	
}
.sub-nav {
	height: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	line-height: 20px;
	background-color: transparent;
	box-shadow: none;

	.breadcrumb ,
	.breadcrumb:before {
		color: #78909c;
		font-size: 14px;
	}
	.breadcrumb:before {
	    margin: 0 5px 0 0px;
	}
	.breadcrumb:last-child {
		color: #29ace2;
	}
}