/* Table Variant */
.modified {
	th {
		padding: 20px 30px;
		font-weight: 500;
		background-color: #eaeef1;
		color: #78909c;
	}
	td {
		padding: 0 30px;
		color: #78909c;
	}
	.actionSvg {
		width: 20px;
		padding-top: 8px;
	}
}
.modified-2 {
	td.title {
		color: #78909c;
	}
}