/* Variables */
$primary-color: #29ace2 !default;
$white: 		#ffffff !default;
$light-gray:	#f4f7f9 !default;
$dark-gray:		#eaeef0 !default;
$green: 		#42b827 !default;


/* Defaults */
body {
	background-color: #f3f7fa;
}

/* Helpers */
.primary-bg {
	background-color: $primary-color !important;
}
.light-gray-bg {
	background-color: $light-gray !important;
}
.dark-gray-bg {
	background-color: $dark-gray !important;
}
.green-bg {
	background-color: $green !important;
}


/* Button Variant */
.btn-medium {
	height: 40px;
	line-height: 40px;
}
.no-shadow {
	box-shadow: none !important;
}

/* Tooltip */
.material-tooltip {
	box-shadow: 0px 1px 0px 0px rgba(122,122,122,0.5);
	span {
		color: #7a7a7a;
	}
	.backdrop {
		background-color: #ffffff;
	}
}

/* Modal Modified */
.modal .modal-footer {
	padding: 0 24px;
}

/* Profile Imager */
.profile-image-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image-container img {
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
}
.profile-image {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #29ace2;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin: 20px 0;
}


/* Navbar variant */
.profile-nav {
    height: unset;
    background-color: transparent;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 3px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.profile-nav .tabs {
    background-color: transparent;
}
.profile-nav .tabs a,
.profile-nav .tabs a.active {
    color: #7a7a7a;
    font-weight: bold;
}
.profile-nav .tabs .indicator {
    height: 3px;
}
